@page
@{
}
 
<table class="table table-success">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Numero de asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Volvo</td>
      <td>Volvo B340M</td>
      <td>9000</td>
      <td>40</td>
      <td>TJK320</td>
    </tr>
  </tbody>
</table>