@page
@{
}
 
<table class="table table-success">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo Estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bogota</td>
      <td>Medellin</td>
      <td>8 Horas</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Neiva</td>
      <td>Bogota</td>
      <td>6 Horas</td>
    </tr>
  </tbody>
</table>