@page
@model IndexModel
@{
}

<div class="text-center">
    <h1>UBER</h1>
    <img src="https://lh3.googleusercontent.com/proxy/C0gfdHtcRIV8NBx6BDwjtfdqaasqN5hvWBlrMjnT6PcNWuykbbWJhkW2hEcocaNbyWhvhykgMxyiIyCXrxSOKlFnGU3GiKUYCWlBlDkUOnkpc0FQciImQCNzsx810Ryxdlbl5YZfqNbsI__ztt4yYSq96Q" class="rounded" alt="Logo-uber">
</div>
